<% if message != "" %>
  <h4> <%= message %> </h4>
<% end %>

<h1><%= @meetup.name %></h1>

<fieldset>
  <legend>Description</legend>
  <p><%= @meetup.description %></p>
</fieldset>
<fieldset>
  <legend>Location</legend>
  <p><%= @meetup.location %></p>
</fieldset>

<% if user_id %>
  <div class="button small">
    <a id="join" href="/join_meetup?user_id=<%= user_id %>&meetup_id=<%= @meetup.id %>">Join</a>
  </div>
<% end %>
